body {
  background-color: #124752;
  color: white;
}

.generate_joke {
  background-color: green;
  border-radius: 10px;
  border-color: black;
}

.container {
  text-align: center;
}

h1 {
  text-align: center;
}
